<section id="contact">
    <div class="container">
        <div class="contact-title title">Давайте зв'яжемося</div>
        <div class="contact-map"><iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2540.2265968465567!2d30.47185181610942!3d50.45550497947607!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ce80bb14c36b%3A0x5c4eb5067e6b48c6!2z0LLRg9C70LjRhtGPINCS0LDQvdC00Lgg0JLQsNGB0LjQu9C10LLRgdGM0LrQvtGXLCAyNCwg0JrQuNGX0LI!5e0!3m2!1sru!2sua!4v1488049688560"
                width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen=""></iframe></div>
        <div class="contact-items">
            <div class="contact-item">
                <div class="contact-icon"><img src="https://amezdwnzfp.cloudimg.io/v7/https://firebasestorage.googleapis.com/v0/b/ipz-site.appspot.com/o/images%2Flocation.png?alt=media&token=dca5b7c5-0b9d-4243-95d4-2913f06e705f"></div>
                <div class="contact-name">Адреса</div>
                <div class="contact-value">м. Київ, вул. Ванди Василевської, 24</div>
            </div>
            <div class="contact-item">
                <div class="contact-icon"><img src="https://amezdwnzfp.cloudimg.io/v7/https://firebasestorage.googleapis.com/v0/b/ipz-site.appspot.com/o/images%2Fphone.png?alt=media&token=b1fd0785-3cd6-44d3-8d1c-f38e8a90e3c2"></div>
                <div class="contact-name">Телефон</div>
                <div class="contact-value">(066) 430-5432</div>
            </div>
            <div class="contact-item">
                <div class="contact-icon"><img src="https://amezdwnzfp.cloudimg.io/v7/https://firebasestorage.googleapis.com/v0/b/ipz-site.appspot.com/o/images%2Fmail.png?alt=media&token=3842def7-7e64-444f-af63-690f651276c5"></div>
                <div class="contact-name">E-mail</div>
                <div class="contact-value">pst@univ.kiev.ua</div>
            </div>
        </div>
    </div>
</section>
<footer>
    © Київський національний університет імені Тараса Шевченка Кафедра Програмних систем і технологій
</footer>