<app-header></app-header>
<div [class.openModal]="isShowModal">
    <section id="languages">
        <div class="container">
            <div class="languages-title title">
                Мови програмування
            </div>
            <div class="languages-subtitle">
                Ти навчишся програмувати на сучасних алгоритмічних мовах, які користуються попитом на міжнародному ринку
                спеціалістів
            </div>
            <div class="languages-items">
                <div class="languages-items_item">
                    <img src="https://amezdwnzfp.cloudimg.io/v7/https://firebasestorage.googleapis.com/v0/b/ipz-site.appspot.com/o/images%2Flang%2Fcsharp.png?alt=media&token=a2504422-9034-4b69-87c6-fe3533affe47">
                    <span>C#</span>
                </div>
                <div class="languages-items_item">
                    <img src="https://amezdwnzfp.cloudimg.io/v7/https://firebasestorage.googleapis.com/v0/b/ipz-site.appspot.com/o/images%2Flang%2Fcplusplus.png?alt=media&token=a15cbd35-0796-4d2e-b056-9f303792829f">
                    <span>C++</span>
                </div>
                <div class="languages-items_item">
                    <img src="https://amezdwnzfp.cloudimg.io/v7/https://firebasestorage.googleapis.com/v0/b/ipz-site.appspot.com/o/images%2Flang%2Fjavascript.png?alt=media&token=0a403fac-d6f1-4008-9eaa-62089b696741">
                    <span>JavaScript</span>
                </div>
                <div class="languages-items_item">
                    <img src="https://amezdwnzfp.cloudimg.io/v7/https://firebasestorage.googleapis.com/v0/b/ipz-site.appspot.com/o/images%2Flang%2Fjava.png?alt=media&token=c1c89364-12e3-4dd9-ba2d-01d0d3909cef">
                    <span>Java</span>
                </div>
                <div class="languages-items_item">
                    <img src="https://amezdwnzfp.cloudimg.io/v7/https://firebasestorage.googleapis.com/v0/b/ipz-site.appspot.com/o/images%2Flang%2Fphp.png?alt=media&token=6b941017-ff9c-4ed8-8a5f-31b18eccedc1">
                    <span>PHP</span>
                </div>
                <div class="languages-items_item">
                    <img src="https://amezdwnzfp.cloudimg.io/v7/https://firebasestorage.googleapis.com/v0/b/ipz-site.appspot.com/o/images%2Flang%2Fpython.png?alt=media&token=34c8917a-35da-4fe3-ba65-1808b48c504f">
                    <span>Python</span>
                </div>
                <div class="languages-items_item">
                    <img src="https://amezdwnzfp.cloudimg.io/v7/https://firebasestorage.googleapis.com/v0/b/ipz-site.appspot.com/o/images%2Flang%2Fruby.png?alt=media&token=b8c7d687-49ff-453f-8c3e-c87cd6f5a511">
                    <span>Ruby</span>
                </div>
                <div class="languages-items_item">
                    <img src="https://amezdwnzfp.cloudimg.io/v7/https://firebasestorage.googleapis.com/v0/b/ipz-site.appspot.com/o/images%2Flang%2Fr.png?alt=media&token=eab19c57-92e8-44dc-86a2-935c87bb024e">
                    <span>R</span>
                </div>
                <div class="languages-items_item">
                    <img src="https://amezdwnzfp.cloudimg.io/v7/https://firebasestorage.googleapis.com/v0/b/ipz-site.appspot.com/o/images%2Flang%2Fperl.png?alt=media&token=3fbf7f13-cb1a-486f-98ad-70fc73579cd5">
                    <span>Perl</span>
                </div>
                <div class="languages-items_item">
                    <img src="https://amezdwnzfp.cloudimg.io/v7/https://firebasestorage.googleapis.com/v0/b/ipz-site.appspot.com/o/images%2Flang%2Fscala.png?alt=media&token=a4166031-4f98-4bc4-8a53-cf7fcc20026b">
                    <span>Scala</span>
                </div>
                <div class="languages-items_item">
                    <img src="https://amezdwnzfp.cloudimg.io/v7/https://firebasestorage.googleapis.com/v0/b/ipz-site.appspot.com/o/images%2Flang%2Fabap.png?alt=media&token=3ac427cb-c31a-4fa7-b62c-925dfc9ab865">
                    <span>ABAP</span>
                </div>
                <div class="languages-items_item">
                    <img src="https://amezdwnzfp.cloudimg.io/v7/https://firebasestorage.googleapis.com/v0/b/ipz-site.appspot.com/o/images%2Flang%2Fgo.png?alt=media&token=bfaa5f9f-2f77-461d-8971-daa0c564d69d">
                    <span>Go</span>
                </div>
            </div>
        </div>
    </section>
    <section id="levels">
        <div class="container">
            <div class="levels">
                <div class="levels-left">
                    <div class="levels-title">
                        Спеціальність 121
                    </div>
                    <div class="levels-subtitle">
                        «Інженерія програмного забезпечення»
                    </div>
                    <div class="levels-text">
                        Розвиток технологій є мегатрендом розвитку світової економіки, і багато держав періодично
                        здійснюють прогнозування технологічного розвитку на наступні 10-20 років. Україна має потужний
                        інтелектуальний потенціал. Ми посіли перше місце в Європі за кількістю IT-фахівців. Доходи в
                        IT-сфері за прогнозами експертів складуть $5 млрд в 2020 році. IT-індустрія України посіла третє
                        місце за кількістю експортних потужностей.

                        <div class="levels-br"></div>
                        Цифрові технології мають стати основою розвитку цифрової економіки, що призведе до зростання
                        добробуту України, світом, в якому створюватимуться нові можливості для людини; сферою, що
                        визначатиме суть трансформацій в Україні для кращого життя, роботи, творчості, навчання,
                        відпочинку.
                    </div>
                </div>
                <div class="levels-right">
                    <div class="levels-backalvr" (click)="showModal('backalavrModal')">
                        <div class="levels-backalvr-image">
                            <img
                                src="https://amezdwnzfp.cloudimg.io/v7/https://firebasestorage.googleapis.com/v0/b/ipz-site.appspot.com/o/images%2Fbackalavr.png?alt=media&token=b23563df-6618-4995-93e5-aee1c947978c">
                            <div class="levels-backalvr-title">Бакалаврат</div>
                            <div class="levels-backalvr-text">Дізнатись більше</div>
                        </div>

                    </div>
                    <div class="levels-magistr" (click)="showModal('magistrModal')">
                        <div class="levels-magistr-image">
                            <img src="https://amezdwnzfp.cloudimg.io/v7/https://firebasestorage.googleapis.com/v0/b/ipz-site.appspot.com/o/images%2Fmaster.png?alt=media&token=2ae36a90-ce82-4fd3-aeb6-f779275d8466">
                            <div class="levels-magistr-title">Магістратура</div>
                            <div class="levels-magistr-text">Дізнатись більше</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="questions" style="padding: 0!important;">
        <div class="questions questions_abit">
            <!-- <div class="questions-image"></div> -->
            <div class="questions-content questions-content_abit">
                <div class="questions-title title">
                    Абітурієнту
                </div>
                <div class="questions-items">
                    <div class="questions-item" (click)="openAbitModal(0)">1. ІТ-індустрія – ключовий сектор розвитку
                        економіки України<span class="questions-more">Дізнатись</span></div>
                    <div class="questions-item" (click)="openAbitModal(1)">2. Тренди розвитку ІТ-індустрії в Україні та
                        в світі<span class="questions-more">Дізнатись</span></div>
                    <div class="questions-item" (click)="openAbitModal(2)">3. ІТ-професії: тренд розвитку у 2020-2024
                        рр.<span class="questions-more">Дізнатись</span></div>
                    <div class="questions-item" (click)="openAbitModal(3)">4. Попит на розробників ПЗ та програмістів в
                        Україні у 2020 році<span class="questions-more">Дізнатись</span>
                    </div>
                    <div class="questions-item" (click)="openAbitModal(4)">5. Тенденції вищої освіти на 2020 рік<span
                            class="questions-more">Дізнатись</span>
                    </div>
                    <div class="questions-item" (click)="openAbitModal(5)">6. Престижність та здобутки Київського
                        національного університету імені Тараса Шевченка<span class="questions-more">Дізнатись</span>
                    </div>
                    <div class="questions-item" (click)="openAbitModal(6)">7. Особливість освітньої програми «Інженерія
                        програмного забезпечення» на факультеті інформаційних технологій Київського національного
                        університету імені Тараса Шевченка<span class="questions-more">Дізнатись</span>
                    </div>
                    <div class="questions-item" (click)="openAbitModal(7)">8. Зміст освітньої програми<span
                            class="questions-more">Дізнатись</span>
                    </div>
                    <div class="questions-item" (click)="openAbitModal(8)">9. Які можливості та досягнення матимуть
                        студенти кафедри ПСТ?<span class="questions-more">Дізнатись</span>
                    </div>
                    <div class="questions-item" (click)="openAbitModal(9)">10. Що вирізняє навчання на кафедрі ПСТ КНУ
                        імені Тараса Шевченка серед інших ЗВО?<span class="questions-more">Дізнатись</span>
                    </div>
                    <div class="questions-item" (click)="openAbitModal(10)">11. Використані посилання<span
                            class="questions-more">Дізнатись</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <app-footer></app-footer>
</div>
<!-- "currentModal == 'backalavrModal'?'block':'none'" -->
<div add-class="noscroll" to="body" id="backalavrModal" class="modal-modal simplebar-content-wrapper"
    [class.show]="currentModal == 'backalavrModal'" *ngIf="currentModal == 'backalavrModal'">
    <div class="modal-modal-content">
        <div class="modal-modal-header">
            <div class="modal-modal-name">
                <div class="modal-modal-title">
                    Навчальний план
                </div>
                Бакалаврат
            </div>
            <div class="modal-modal-close" (click)="closeModal()">
                Закрити
                <i-feather name="x"></i-feather>
            </div>
        </div>
        <div class="modal-modal-general">
            <div class="modal-modal-image">
                <img src="https://amezdwnzfp.cloudimg.io/v7/https://firebasestorage.googleapis.com/v0/b/ipz-site.appspot.com/o/images%2Fbackalavr.png?alt=media&token=b23563df-6618-4995-93e5-aee1c947978c"
                    style="object-fit: cover;">
            </div>
            <div class="modal-modal-general-content">
                <div class="modal-modal-general-content-subtitle">
                    <div class="modal-modal-general-content-title">Навчальний план</div>
                    Бакалаврат
                </div>
            </div>
        </div>
        <div class="modal-modal-body">
            <div class="modal-list">
                <div class="modal-list_title">
                    Нормативні навчальні дисципліни
                </div>
                <div class="modal-list_item">1.Вступ до університетських студій</div>
                <div class="modal-list_item">2.Іноземна мова за професійним спрямуванням</div>
                <div class="modal-list_item">3.Основи математики</div>
                <div class="modal-list_item">4.Дискретна математика (з використанням інформаційних технологій)</div>
                <div class="modal-list_item">5.Основи програмування</div>
                <div class="modal-list_item">6.Вступ до об'єктно-орієнтованого програмування</div>
                <div class="modal-list_item">7.Основи програмної інженерії</div>
                <div class="modal-list_item">8.Об'єктно-орієнтоване конструювання програм</div>
                <div class="modal-list_item">9.Прикладна математика</div>
                <div class="modal-list_item">10.Теорія ймовірностей та математична статистика (з використанням
                    інформаційних технологій)</div>
                <div class="modal-list_item">11.Українська та зарубіжна культура</div>
                <div class="modal-list_item">12.Науковий образ світу</div>
                <div class="modal-list_item">13.SQL</div>
                <div class="modal-list_item">14.Проектування баз даних</div>
                <div class="modal-list_item">15.Основи екології</div>
                <div class="modal-list_item">16.Архітектура та проектування програмного забезпечення</div>
                <div class="modal-list_item">17.Аналіз вимог до програмного забезпечення</div>
                <div class="modal-list_item">18.Філософія</div>
                <div class="modal-list_item">19.Операційні системи</div>
                <div class="modal-list_item">20.Менеджмент проектів програмного забезпечення</div>
                <div class="modal-list_item">21.Веб-технології</div>
                <div class="modal-list_item">22.Технологічна (виробнича) практика</div>
                <div class="modal-list_item">23.Соціально-політичні студії</div>
                <div class="modal-list_item">24.Вибрані розділи трудового права і основ підприємницької діяльності</div>
                <div class="modal-list_item">25.Переддипломна (виробнича) практика</div>
            </div>
            <div class="modal-list">
                <div class="modal-list_title">Дисципліни вибору факультету</div>
                <div class="modal-list_item">1.Архітектура комп’ютера </div>
                <div class="modal-list_item">2.Алгоритми і структури даних </div>
                <div class="modal-list_item">3.Комп’ютерні мережі та технології </div>
                <div class="modal-list_item">4.Обчислювальні методи </div>
                <div class="modal-list_item">5.Захист програм та даних </div>
                <div class="modal-list_item">6.Математичне моделювання процесів</div>
                <div class="modal-list_item">7.Курсова робота</div>
                <div class="modal-list_item">8.Спеціалізоване програмування автоматизованих систем</div>
                <div class="modal-list_item">9.Якість програмного забезпечення та тестування</div>
                <div class="modal-list_item">10.Додаткові розділи проектування програмного забезпечення</div>
                <div class="modal-list_item">11.Дипломне проектування</div>
            </div>
            <div class="modal-list">
                <div class="modal-list_title">
                    Дисципліни вільного вибору студента
                    <div class="modal-list_subtitle">Спеціалізація 1. "Програмно-інформаційні системи"</div>
                </div>
                <div class="modal-list_item">1.Комп’ютерна графіка та візуалізація </div>
                <div class="modal-list_item">2.Емпірична методи програмної інженерія </div>
                <div class="modal-list_item">3.Конструювання програмного забезпечення </div>
                <div class="modal-list_item">4.Основи розподілених обчислень та паралельного програмування </div>
                <div class="modal-list_item">5.Економіка IT компаній </div>
                <div class="modal-list_item">6.Менеджмент командної розробки програмного забезпечення</div>
                <div class="modal-list_item">7.Кросплатформне програмування</div>
                <div class="modal-list_item">8.Хмарні технології</div>
                <div class="modal-list_item">9.Програмування інтернет речей (IoT)</div>

            </div>
            <div class="modal-list">
                <div class="modal-list_subtitle">Спеціалізація 2. "Теорія інформаційних систем"
                </div>
                <div class="modal-list_item">1.Мовні процесори </div>
                <div class="modal-list_item">2.Парадигми програмування </div>
                <div class="modal-list_item">3.Інформаційна безпека </div>
                <div class="modal-list_item">4.Українська мова (за професійним спрямуванням) </div>
                <div class="modal-list_item">5.Економіка програмного забезпечення </div>
                <div class="modal-list_item">6.Вбудовані системи реального часу</div>
                <div class="modal-list_item">7.Пакети прикладних програм</div>
                <div class="modal-list_item">8.Інтерактивні системи</div>
                <div class="modal-list_item">9.Формальні методи специфікації програм</div>
            </div>
            <div class="modal-list">
                <div class="modal-list_subtitle">Спеціалізація 3. "Програмування вбудованих і мобільних систем (ВМС)"

                </div>
                <div class="modal-list_item">1.Програмування ВМС </div>
                <div class="modal-list_item">2.Операційні системи ВМС </div>
                <div class="modal-list_item">3.CASE - системи для програмування ВМС </div>
                <div class="modal-list_item">4.Системи автоматизованого проектування в галузі ВМС </div>
                <div class="modal-list_item">5.Схемотехніка ВМС (з елементами нізькорівневого програмування) </div>
                <div class="modal-list_item">6.Програмування взаємодії ВМС з зовнішними пристроями</div>
                <div class="modal-list_item">7.Спеціалізоване програмування ВМС</div>
                <div class="modal-list_item">8.Моделювання програмно-апаратних систем</div>
                <div class="modal-list_item">9.Алгоритми ідентифікації та розпізнавання</div>

            </div>
            <div class="modal-list">
                <div class="modal-list_subtitle">Спеціалізація 4. "Програмування комп'ютерних ігор"


                </div>
                <div class="modal-list_item">1.Обчислювальна геометрія </div>
                <div class="modal-list_item">2.Математичні основи комп'ютерних ігор </div>
                <div class="modal-list_item">3.Комп’ютерне моделювання фізики природних явищ </div>
                <div class="modal-list_item">4.Комп'ютерна графіка </div>
                <div class="modal-list_item">5.Технології графічного дизайну </div>
                <div class="modal-list_item">6.Програмування штучного інтелекту ігор</div>
                <div class="modal-list_item">7.Програмування змішаної реальності</div>
                <div class="modal-list_item">8.Архітектура комп'ютерних ігор і систем віртуальної реальності</div>
                <div class="modal-list_item">9.Програмування багатокористувацьких ігор</div>


            </div>
            <div class="modal-list">
                <div class="modal-list_subtitle">Спеціалізація 5. "ERP програмування"
                </div>
                <div class="modal-list_item">1.Основи ERP-систем </div>
                <div class="modal-list_item">2.Програмування ERP-систем </div>
                <div class="modal-list_item">3.Інтегрований проектний менеджмент ERP-систем </div>
                <div class="modal-list_item">4.Програмно-апаратний базис ERP-систем</div>
                <div class="modal-list_item">5.Інтеграція ERP систем </div>
                <div class="modal-list_item">6.Програмні технології Big Data в ERP - системах</div>
                <div class="modal-list_item">7.Економіка і маркетінг ERP- систем</div>
                <div class="modal-list_item">8.Бізнес-аналітика ERP- систем</div>
                <div class="modal-list_item">9.Розробка мультіплатформених рішень</div>

            </div>
            <div class="modal-list">
                <div class="modal-list_title">Вибір з переліку (студент обирає 1 дисципліну з кожного переліку)
                </div>

                <div class="modal-list_item">Розробка мультимедійних та ігрових систем / Моделювання інформаційних
                    систем та бізнес систем </div>
                <div class="modal-list_item">Функціональне програмування / Основи зворотної розробки </div>
                <div class="modal-list_item">Програмування під мобільні платформи
                    / Стандартизація програмного забезпечення</div>

            </div>




        </div>
    </div>
</div>

<div add-class="noscroll" to="body" id="magistrModal" class="modal-modal simplebar-content-wrapper"
    [class.show]="currentModal == 'magistrModal'" *ngIf="currentModal == 'magistrModal'">
    <div class="modal-modal-content">
        <div class="modal-modal-header">
            <div class="modal-modal-name">
                <div class="modal-modal-title">
                    Навчальний план
                </div>
                Магістратура
            </div>
            <div class="modal-modal-close" (click)="closeModal()">
                Закрити
                <i-feather name="x"></i-feather>
            </div>
        </div>
        <div class="modal-modal-general">
            <div class="modal-modal-image">
                <img src="https://amezdwnzfp.cloudimg.io/v7/https://firebasestorage.googleapis.com/v0/b/ipz-site.appspot.com/o/images%2Fmaster.png?alt=media&token=2ae36a90-ce82-4fd3-aeb6-f779275d8466" style="object-fit: cover;">
            </div>
            <div class="modal-modal-general-content">
                <div class="modal-modal-general-content-subtitle">
                    <div class="modal-modal-general-content-title">Навчальний план</div>
                    Магістратура
                </div>
            </div>
        </div>
        <div class="modal-modal-body">
            <div class="modal-list">
                <div class="modal-list_title">
                    Нормативні навчальні дисципліни
                </div>
                <div class="modal-list_item">1.Методологія та організація науковіх дослідженнь з основами
                    інтелектуальної власності </div>
                <div class="modal-list_item">2.Професійна та корпоротивна етика </div>
                <div class="modal-list_item">3.Алгоритм обробки мультимедіа </div>
                <div class="modal-list_item">4.Принципи, методи зв'язування даних у застосуваннях Semantic Web </div>
                <div class="modal-list_item">5.Багатопоточне та розподіленне програмування </div>
                <div class="modal-list_item">6.Хмарні обчисленя та їх надійність</div>
                <div class="modal-list_item">7.Методи і технології високопродуктивних обчислень</div>
                <div class="modal-list_item">8.Моделювання процесів і об'єктів</div>
                <div class="modal-list_item">9.Виробнича практика "Розробка програмно-інформаційних систем"</div>
                <div class="modal-list_item">10.Підготовка та захист випускної кваліфікаційної роботи</div>
                <div class="modal-list_item">11.Основи обробки великих масивів даних</div>
                <div class="modal-list_item">12.Основи програмування вбудованих систем</div>
                <div class="modal-list_item">13.Засоби розробки та підтримки життєвого циклу ПЗ</div>
                <div class="modal-list_item">14.Науковий семінар з програмної інженерії</div>
                <div class="modal-list_item">15.Курсова робота</div>

            </div>
            <div class="modal-list">
                <div class="modal-list_title">
                    Дисципліни вільного вибору студента
                    <div class="modal-list_subtitle">Спеціалізація 1. "Програмне забезпечення інтелектуальних систем"
                    </div>
                </div>
                <div class="modal-list_item">1.Методи аналізу великих даних та консолідованої інформації </div>
                <div class="modal-list_item">2.Сучасні бази даних </div>
                <div class="modal-list_item">3.Програмні технології інтелектуального аналізу даних </div>
                <div class="modal-list_item">4.Програмні технології машинного навчання </div>
                <div class="modal-list_item">5.Технологій обчислень на кластерах і грід </div>


            </div>
            <div class="modal-list">
                <div class="modal-list_subtitle">Спеціалізація 2 "Програмне забезпечення мобільних і вбудованих систем"

                </div>
                <div class="modal-list_item">1.Архітектура та проектування вбудованих та мобільних систем </div>
                <div class="modal-list_item">2.Низькорівневе паралельне програмування </div>
                <div class="modal-list_item">3.Технології програмування мобільних і вбудованих систем </div>
                <div class="modal-list_item">4.Програмування технології конвергентних мереж наступного покоління (NGN)
                </div>
                <div class="modal-list_item">5.Програмування систем реального часу </div>

            </div>
            <div class="modal-list">
                <div class="modal-list_subtitle">Спеціалізація 3 "Проектування програмного забезпечення
                    інформаційно-обчислювальних систем"


                </div>
                <div class="modal-list_item">1.Проектування інтелектуальних інтерфейсів </div>
                <div class="modal-list_item">2.Адміністрування Linux систем </div>
                <div class="modal-list_item">3.Цифрова обробка сигналів та розпізнавання образів </div>
                <div class="modal-list_item">4.Розподілені інформаційні системи </div>
                <div class="modal-list_item">5.Програмні системи і технології захисту інформації </div>


            </div>
            <div class="modal-list">
                <div class="modal-list_title">Вибір з переліку (студент обирає 1 дисципліну з кожного переліку)
                </div>
                <div class="modal-list_item">Методи тестування та оцінки надійності програмних систем / Програмування
                    ERP систем</div>
                <div class="modal-list_item">Операційні системи реального часу / Верифікація та валідація програмних
                    систем </div>
            </div>

        </div>
    </div>
</div>


<div add-class="noscroll" to="body" id="abitModal" class="modal-modal simplebar-content-wrapper"
    [class.show]="currentModal == 'abitModal'" *ngIf="currentModal == 'abitModal'">
    <div class="modal-modal-content">
        <div class="modal-modal-header">
            <div class="modal-modal-name">
                <div class="modal-modal-title">
                    Для абітурієнта
                </div>
                {{currentQue.title}}
            </div>
            <div class="modal-modal-close" (click)="closeModal()">
                Закрити
                <i-feather name="x"></i-feather>
            </div>
        </div>
        <div class="modal-modal-general">
            <div class="modal-modal-image">
                <img [src]="currentQue.image" style="object-fit: cover;">
            </div>
            <div class="modal-modal-general-content">
                <div class="modal-modal-general-content-subtitle">
                    <div class="modal-modal-general-content-title">Для абітурієнта</div>
                    {{currentQue.title}}
                </div>
            </div>
        </div>
        <div class="modal-modal-body">
            <div class="modal-detail">
                <div class="modal-detail-html" [innerHTML]="currentQue.text"></div>
            </div>

        </div>
    </div>
</div>