@import "colors.scss";
@import "~swiper/swiper-bundle";
.title {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 41px;
    text-transform: uppercase;
    @media (max-width: 812px) {
        font-size: 24px;
    }
}
.swiper-button-prev {
    left: 50px !important;
    color: $white !important;
    @media (max-width: 812px) {
        display: none;
    }
}
.swiper-button-next {
    right: 50px !important;
    color: $white !important;
    @media (max-width: 812px) {
        display: none;
    }
}
.diploms {
    & .swiper-slide {
        @media (max-width: 812px) {
            width: 80% !important;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    & .swiper-pagination-bullet{
        display: none;
    }
}
.swiper-pagination-bullet {
    background-color: $white !important;
}

.swiper-primary {
    & .swiper-pagination-bullet {
        background-color: $yellow !important;
    }
    & .swiper-button-next,
    & .swiper-button-prev {
        color: $yellow !important;
    }
}

body.openModal {
    background-color: $black;
}

.noscroll {
    overflow: hidden;
}
.mobile-hidden {
    @media (max-width: 812px) {
        display: none;
    }
}
.modal {
    /* The Modal (background) */
    &-modal {
        display: block; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        right: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0, 0, 0); /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
        z-index: 250;
        transition: all 2s ease-out;

        &-header {
            background: #f7f7f7 !important;
            min-height: 80px !important;
            display: flex !important;
            justify-content: space-between !important;
            align-items: center !important;
            padding: 10px 42px !important;
            position: fixed;
            width: 100%;
            max-width: 1000px;
            z-index: 10000;
        }
        &-name {
            width: 600px;
            @media (max-width: 812px) {
                width: 200px;
            }
        }
        &-close {
            cursor: pointer;
            transition: all 0.5s;
            &:hover {
                color: $yellow;
            }
        }
        &-subtitle {
            font-family: Ubuntu;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 160%;
            color: $black;
        }
        &-title {
            font-family: Ubuntu;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 160%;
            color: $black;
        }
    }

    @keyframes modal-content {
        from {
            right: -100%;
        }
        to {
            right: 0;
        }
    }

    /* Modal Content */
    &-modal-content {
        background-color: $white;
        margin: auto;
        padding: 20px;
        width: 75% !important;
        position: absolute !important;
        overflow-y: auto !important;
        right: 0;
        min-height: 100vh;
        max-width: 1000px;
        padding: 0 !important;
        background: #ffffff;
        animation: modal-content 450ms ease-out forwards;
        @media (max-width: 812px) {
            width: 100% !important;
        }
    }
    &-modal-general {
        height: 320px;
        width: 100%;
        margin-top: 80px;
        background-color: #edeeef;
        position: relative;
        &-content {
            padding-left: 400px;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            @media (max-width: 812px) {
                display: none;
            }
            &-title {
                font-family: Ubuntu;
                font-style: normal;
                font-weight: bold;
                font-size: 42px;
                line-height: 160%;
            }
            &-subtitle {
                font-family: Ubuntu;
                font-style: normal;
                font-weight: normal;
                font-size: 26px;
                line-height: 160%;
            }
        }
    }
    &-modal-image {
        width: 320px;
        height: 320px;
        position: absolute;
        top: 27px;
        left: 27px;

        & img {
            width: 100%;
            height: 100%;
            position: relative;
            z-index: 100;
        }
        &-background {
            position: absolute;
            top: 14px;
            left: 14px;
            width: 100%;
            height: 100%;
            background-color: $black;
            z-index: 90;
        }
    }
    &-detail {
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
        padding: 27px;
        @media (max-width: 812px) {
            flex-direction: column;
        }
        &:first-child {
            margin-top: 100px;
        }
        &-title {
            width: 20%;
            color: #232932;
            opacity: 0.6;
            @media (max-width: 812px) {
                margin-bottom: 20px;
                align-self: center;
                width: 50%;
                text-align: center;
            }
        }
        &-text {
            width: 70%;
            @media (max-width: 812px) {
                width: 100%;
            }
        }
        &-name {
            color: #232932;
            opacity: 0.6;
            font-size: 22px;
        }
        &-html {
            width: 100%;
        }
    }

    &-documents {
        display: flex;
        flex-direction: column;
        padding: 27px;
        &_item {
            margin: 10px 0px;
            padding: 20px 20px;
            border-radius: 10px;
            border: 2px solid $yellow;
            font-size: 15px;
            transition: 0.3s all linear;
        }
        &_name {
            text-transform: uppercase;
            font-size: 22px;
            overflow-wrap: break-word;
        }
        &_actions {
            display: flex;
            margin-top: 20px;
            & > div {
                margin-right: 20px;
            }
        }
    }

    &-list {
        &:first-child {
            margin-top: 100px;
        }

        &_title {
            font-family: Ubuntu;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 160%;
            text-align: center;
        }
        &_subtitle {
            font-family: Ubuntu;
            font-style: normal;
            font-weight: 300;
            font-size: 18px;
            line-height: 160%;
            text-align: center;
        }
        &_item {
            font-family: Ubuntu;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 300%;
            width: 100%;
            padding: 0 20px;
            &:nth-child(2n) {
                background-color: #f4f4f4;
            }
            &:nth-child(2) {
                margin-top: 27px;
            }
            &:last-child {
                margin-bottom: 42px;
            }
        }
    }
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 10px;
    background: $black;
    color: #fff;
    width: 100%;
    text-align: center;
    flex: 0 0 auto;
    z-index: 5000;
}
.button {
    background: $yellow;
    border-radius: 8px;
    width: 180px;
    height: 42px;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
    & svg {
        width: 22px;
        height: 22px;
    }
}

.button-border {
    border: 2px solid $yellow;
    border-radius: 8px;
    width: 180px;
    height: 42px;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
    & svg {
        width: 22px;
        height: 22px;
    }
    color: $black;
    text-decoration: none;
}

.openModal .news-title {
    transition: color 450ms ease-out;
    color: $white !important;
}
.openModal .news-subtitle {
    transition: color 450ms ease-out;
    color: $white !important;
}
.openModal #news img {
    transition: all 450ms ease-out;
    -webkit-filter: grayscale(99%);
    filter: grayscale(99%);
}

.openModal #news * {
    transition: color 450ms ease-out;
    color: $white !important;
}
