<app-header></app-header>

<section id="awards">
    <div class="container">
        <div class="awards-header">
            <div class="awards-title">
                Ми стали <br>
                першими в Україні

                <div class="awards-subtitle">
                    <div class="awards-subtitle_item">
                        - хто ввів на першому курсі вивчення мови програмування C# і о'бєктно-орієнтоване програмування;
                    </div>

                    <div class="awards-subtitle_item">
                        - хто розробив повністю новий навчальний план та оновлену освітню програму навчання з
                        використанням сучасних технологій, а саме виробництва програмного забезпечення і керування
                        процесом розробки;
                    </div>

                    <div class="awards-subtitle_item">- хто став залучати ІТ компанії до розроблення методик навчання,
                        до побудови траєкторії та наповнення освітнього процесу;</div>

                    <div class="awards-subtitle_item">- хто запропонував та впровадив Всеукраїнський конкурс
                        студентських наукових робіт природничих, технічних та комп'ютерних наук із спеціальності «121
                        Інженерія програмного забезпечення»;</div>

                    <div class="awards-subtitle_item">- хто запропонував та впровадив Всеукраїнську олімпіаду з
                        «Програмування і управління ІТ проектами»;</div>

                </div>
            </div>
            <div class="awards-image mobile-hidden">
                <img src="https://amezdwnzfp.cloudimg.io/v7/https://firebasestorage.googleapis.com/v0/b/ipz-site.appspot.com/o/images%2Fawards.png?alt=media&token=4e41a5c3-8496-4cbd-9057-fb7888a89a62"
                    alt="">
            </div>
        </div>
    </div>
</section>
<section id="study">
    <div class="container">
        <div class="studies-title title">Ми навчаємо студентів</div>
        <div class="studies">
            <div class="studies-item">
                <div class="studies-item_icon">
                    <img src="https://amezdwnzfp.cloudimg.io/v7/https://firebasestorage.googleapis.com/v0/b/ipz-site.appspot.com/o/images%2Fawards%2Flanguages.png?alt=media&token=75777aaa-0f0a-4d24-9cfd-17524440eae4"
                        alt="">
                </div>
                <div class="studies-item_title">
                    Сучасні мови
                </div>
                <div class="studies-item_text">
                    Програмувати на сучасних мовах із перших «двадцяток» найвідоміших рейтингів
                </div>
            </div>
            <div class="studies-item">
                <div class="studies-item_icon">
                    <img src="https://amezdwnzfp.cloudimg.io/v7/https://firebasestorage.googleapis.com/v0/b/ipz-site.appspot.com/o/images%2Fawards%2Fmobile.png?alt=media&token=a9355f8e-707a-43cc-ac91-e674def9c846"
                        alt="">
                </div>
                <div class="studies-item_title">
                    Мобільне програмування
                </div>
                <div class="studies-item_text">
                    Програмувати під мобільні пристрої<br>
                    (iOS, Android)
                </div>
            </div>
            <div class="studies-item">
                <div class="studies-item_icon">
                    <img src="https://amezdwnzfp.cloudimg.io/v7/https://firebasestorage.googleapis.com/v0/b/ipz-site.appspot.com/o/images%2Fawards%2Fadapt.png?alt=media&token=e5e903f7-521a-4b71-a046-cea8f5a73278"
                        alt="">
                </div>
                <div class="studies-item_title">
                    Адаптивність
                </div>
                <div class="studies-item_text">
                    Використовувати різні операційні системи<br> (сімейства Linux, FreeBSD, Windows)
                </div>
            </div>
            <div class="studies-item">
                <div class="studies-item_icon">
                    <img src="https://amezdwnzfp.cloudimg.io/v7/https://firebasestorage.googleapis.com/v0/b/ipz-site.appspot.com/o/images%2Fawards%2Fdb.png?alt=media&token=d89e2c79-fcbc-466f-9f6e-5d0f56300980"
                        alt="">
                </div>
                <div class="studies-item_title">
                    Бази даних
                </div>
                <div class="studies-item_text">
                    Управляти базами даних
                </div>
            </div>
            <div class="studies-item">
                <div class="studies-item_icon">
                    <img src="https://amezdwnzfp.cloudimg.io/v7/https://firebasestorage.googleapis.com/v0/b/ipz-site.appspot.com/o/images%2Fawards%2Forg.png?alt=media&token=5a473a02-09dd-4c50-bf3b-b25d7218ac8a"
                        alt="">
                </div>
                <div class="studies-item_title">
                    Організація
                </div>
                <div class="studies-item_text">
                    Організовувати роботу комп'ютерних мереж,<br> програмувати для Internet of EveryThing (IoE)
                </div>
            </div>
            <div class="studies-item">
                <div class="studies-item_icon">
                    <img src="https://amezdwnzfp.cloudimg.io/v7/https://firebasestorage.googleapis.com/v0/b/ipz-site.appspot.com/o/images%2Fawards%2Fmanager.png?alt=media&token=b55ac51a-a9be-4e1e-a3d4-00b0d856b361"
                        alt="">
                </div>
                <div class="studies-item_title">
                    Менеджмент
                </div>
                <div class="studies-item_text">
                    Моделювати системи і процеси та організовувати<br> роботу команди програмістів
                </div>
            </div>
        </div>
    </div>
</section>
<div class="section" id="projects">
    <div class="projects" >
        <swiper [navigation]="true" style="height: 100%;" [pagination]="{ clickable: true }">
            <ng-template swiperSlide>
                <div class="container">
                    <div class="projects-title title">
                        Наукові конференції
                    </div>
                    <div class="projects-list">
                        <div class="projects-item">
                            <div class="projects-item_icon">
                                <img src="https://amezdwnzfp.cloudimg.io/v7/https://firebasestorage.googleapis.com/v0/b/ipz-site.appspot.com/o/images%2Fprojects%2F1.png?alt=media&token=d402f92f-5226-4fee-88e8-4cfef424b140"
                                    alt="">
                            </div>
                            <div class="projects-item_title">
                                Міжнародна науково-практична конференція
                                <div class="projects-item_text">
                                    «Теоретичнi та прикладнi аспекти застосування iнформацiйних технологiй в галузi
                                    природничих наук»
                                </div>
                            </div>
                        </div>
                        <div class="projects-item">
                            <div class="projects-item_icon">
                                <img src="https://amezdwnzfp.cloudimg.io/v7/https://firebasestorage.googleapis.com/v0/b/ipz-site.appspot.com/o/images%2Fprojects%2F2.png?alt=media&token=02f58847-8489-4437-804e-69ca31a4515b"
                                    alt="">
                            </div>
                            <div class="projects-item_title">
                                IІІ Всеукраїнська науково-практична конференція
                                <div class="projects-item_text">
                                    «Інформаційні технології в освіті, техніці та промисловості»

                                </div>
                            </div>
                        </div>
                        <div class="projects-item">
                            <div class="projects-item_icon">
                                <img src="https://amezdwnzfp.cloudimg.io/v7/https://firebasestorage.googleapis.com/v0/b/ipz-site.appspot.com/o/images%2Fprojects%2F3.png?alt=media&token=eb5adf21-71ea-40a6-a0d9-8c5d6810c52e"
                                    alt="">
                            </div>
                            <div class="projects-item_title">
                                IІ Міжнародній конференції
                                <div class="projects-item_text">
                                    «MSTIoE 2017: East European Conference on Mathematical Foundations and Software
                                    Technology of Internet of Everything»

                                </div>
                            </div>
                        </div>
                        <div class="projects-item">
                            <div class="projects-item_icon">
                                <img src="https://amezdwnzfp.cloudimg.io/v7/https://firebasestorage.googleapis.com/v0/b/ipz-site.appspot.com/o/images%2Fprojects%2F4.png?alt=media&token=502d198b-29bd-4d3e-a333-abcd97a089ee"
                                    alt="">
                            </div>
                            <div class="projects-item_title">
                                XVIII Міжнародна конференція
                                <div class="projects-item_text">
                                    «Dynamical System Modeling and Stability Investigations»

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div class="container">
                    <div class="projects-title title">
                        Всеукраїнські конкурси
                    </div>
                    <div class="projects-list projects-list_column">
                        <div class="projects-item">
                            <div class="projects-item_icon">
                                <img src="https://amezdwnzfp.cloudimg.io/v7/https://firebasestorage.googleapis.com/v0/b/ipz-site.appspot.com/o/images%2Fprojects%2F1.png?alt=media&token=d402f92f-5226-4fee-88e8-4cfef424b140"
                                    alt="">
                            </div>
                            <div class="projects-item_title">
                                Всеукраїнський конкурс із Інформатики, обчислювальної техніки та автоматизації
                                <div class="projects-item_text">
                                    Перемога. Бражененко Максим Генадійович (Диплом II-го ступеня).
                                    <br>
                                    Перемога. Мирошников Сергій Олексійович (Диплом I-го ступеня).
                                </div>
                            </div>
                        </div>
                        <div class="projects-item">
                            <div class="projects-item_icon">
                                <img src="https://amezdwnzfp.cloudimg.io/v7/https://firebasestorage.googleapis.com/v0/b/ipz-site.appspot.com/o/images%2Fprojects%2F2.png?alt=media&token=02f58847-8489-4437-804e-69ca31a4515b"
                                    alt="">
                            </div>
                            <div class="projects-item_title">
                                Всеукраїнський конкурс природничих, технічних та комп'ютерних наук
                                «Інформатика і кібернетика»
                                <div class="projects-item_text">
                                    Перемога. Мирошников Сергій Олексійович (Диплом I-го ступеня).
                                    <br>
                                    Перемога. Мирошников Сергій Олексійович (Диплом I-го ступеня).
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div class="container">
                    <div class="projects-title title">
                        Олімпіади
                    </div>
                    <div class="projects-list projects-list_column">
                        <div class="projects-item">
                            <div class="projects-item_icon">
                                <img src="https://amezdwnzfp.cloudimg.io/v7/https://firebasestorage.googleapis.com/v0/b/ipz-site.appspot.com/o/images%2Fprojects%2F1.png?alt=media&token=d402f92f-5226-4fee-88e8-4cfef424b140"
                                    alt="">
                            </div>
                            <div class="projects-item_title">
                                Гран-прі у Першій Всеукраїнській студентській олімпіаді з «Програмування
                                та управління ІТ проектами»
                                <div class="projects-item_text">
                                    Команда студентів у складі: Лоза Владислав Дмитрович, Трофименко Маргарита
                                    Олександрівна, Антонюк Олександр Миколайович, Мирошников Сергій Олексійович,
                                    Карнацький Дмитро Олегович зайняла перше місце
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div class="container">
                    <div class="projects-title title">
                        Проекти
                    </div>
                    <div class="projects-list">
                        <div class="projects-item">
                            <div class="projects-item_icon">
                                <img src="https://amezdwnzfp.cloudimg.io/v7/https://firebasestorage.googleapis.com/v0/b/ipz-site.appspot.com/o/images%2Fprojects%2F1.png?alt=media&token=d402f92f-5226-4fee-88e8-4cfef424b140"
                                    alt="">
                            </div>
                            <div class="projects-item_title">
                                «Створення системи імітаційного мого моделювання руху крові по судинах»
                                <div class="projects-item_text">
                                    Студенти 3-го курсу Карнацький Д.О., Мирошников С.О. 
                                </div>
                            </div>
                        </div>
                        <div class="projects-item">
                            <div class="projects-item_icon">
                                <img src="https://amezdwnzfp.cloudimg.io/v7/https://firebasestorage.googleapis.com/v0/b/ipz-site.appspot.com/o/images%2Fprojects%2F2.png?alt=media&token=02f58847-8489-4437-804e-69ca31a4515b"
                                    alt="">
                            </div>
                            <div class="projects-item_title">
                                «Розроблення інформаційно-аналітичної системи Електронні вибори»
                                <div class="projects-item_text">
                                    Студенти 2,3-го курсу Табунов А.А., Коваленко Р.Б., Бражененко М.Г., Кінзерський Д.С., Карнацький Д.О., Мирошников С.О. 

                                </div>
                            </div>
                        </div>
                        <div class="projects-item">
                            <div class="projects-item_icon">
                                <img src="https://amezdwnzfp.cloudimg.io/v7/https://firebasestorage.googleapis.com/v0/b/ipz-site.appspot.com/o/images%2Fprojects%2F3.png?alt=media&token=eb5adf21-71ea-40a6-a0d9-8c5d6810c52e"
                                    alt="">
                            </div>
                            <div class="projects-item_title">
                                Закритий проект на замовлення Міністерства оборони України
                                <div class="projects-item_text">
                                    Студенти 2-го курсу Рожок М.І., Дяченко І.О.

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </swiper>
    </div>
</div>
<app-diploms></app-diploms>
<app-footer></app-footer>